*.pdb
*.dbml


C#/BProject/*.dll
C#/BProject/Core/obj
C#/BProject/Engine/obj
C#/BProject/Services/obj

C#/BProject/Core/bin
C#/BProject/Engine/bin
C#/BProject/Services/bin
C#/BProject/BProject.v12.suo
